<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a class="navbar-brand" href="#">Portfolio</a>
    <ul class="navbar-links">
      <li>
        <a
          routerLink="/souro/resume"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Resume</a
        >
      </li>
      <li>
        <a
          routerLink="/souro/projects"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Projects</a
        >
      </li>

      <!-- <li>
        <a
          routerLink="/souro/journey"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Personal-blog</a
        >
      </li> -->

      <li>
        <a
          routerLink="/souro/contact-me"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact me</a
        >
      </li>
    </ul>
  </div>
</nav>
