<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a class="navbar-brand" href="#">Souro</a>
    <ul class="navbar-links">
      <li>
        <a
          routerLink="/souro/portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          routerLink="/souro/resume"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Resume</a
        >
      </li>

      <li>
        <a
          routerLink="/souro/journey"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Personal-blog</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
