<div class="portfolio-body">
  <div style="height: 200px"></div>
  <div class="portfolio-footer">
    <div class="portfolio-footer-top"></div>
    <div class="portfolio-footer-content">
      <div class="portfolio-footer-section">
        <h1 class="portfolio-footer-heading">My Portfolio</h1>
      </div>
      <div class="portfolio-footer-section">
        <ul class="d-footer-ul">
          <li class="d-footer-li-h"><b>Links</b></li>
          <li class="d-footer-li"><a href="#">Home</a></li>
          <li class="d-footer-li"><a routerLink="/souro/resume">Resume</a></li>
          <li class="d-footer-li">
            <a routerLink="/souro/projects">Projects</a>
          </li>

          <li class="d-footer-li">
            <a href="https://github.com/Souradeep2000/Portfolio" target="_blank"
              >Documentation</a
            >
          </li>
        </ul>
      </div>
      <div class="portfolio-footer-section">
        <ul class="d-footer-ul">
          <li class="d-footer-li">
            <b><a routerLink="/souro/contact-me">Contact Me</a></b>
          </li>
        </ul>
      </div>
    </div>
    <div class="portfolio-footer-bottom">
      <div class="portfolio-footer-bottom-sec">
        <p>
          Connect with me on
          <a
            href="https://www.linkedin.com/in/souradeep-gharami-246961204/"
            target="_blank"
            >Linkedin</a
          >
        </p>
      </div>

      <div class="portfolio-footer-bottom-sec">
        <p>&copy; 2025 portfolio</p>
      </div>
    </div>
  </div>
</div>
