<div class="portfolio-body">
  <div style="height: 400px"></div>
  <div class="portfolio-footer">
    <div class="portfolio-footer-top"></div>
    <div class="portfolio-footer-content">
      <div class="portfolio-footer-section">
        <h1 class="portfolio-footer-heading">My Portfolio</h1>
      </div>
      <div class="portfolio-footer-section">
        <ul class="d-footer-ul">
          <li class="d-footer-li-h"><b>Links</b></li>
          <li class="d-footer-li">Home</li>
          <li class="d-footer-li">About</li>
          <li class="d-footer-li">Blog</li>
          <li class="d-footer-li">Design</li>
          <li class="d-footer-li">Documentation</li>
        </ul>
      </div>
      <div class="portfolio-footer-section">
        <ul class="d-footer-ul">
          <li class="d-footer-li-h"><b>Contact Me</b></li>
        </ul>
      </div>
      <!-- <div class="portfolio-footer-section">
      <div class="logo-head">
        <b>Follow me on</b>
      </div>
      <div class="logo">
        <a href="" target="_blank"
          ><img
            width="30"
            height="30"
            src="https://img.icons8.com/ios-glyphs/100/instagram-new.png"
            alt="instagram-new"
        /></a>
        <a href="" target="_blank"
          ><img
            width="30"
            height="30"
            src="https://img.icons8.com/ios-filled/100/youtube-squared.png"
            alt="youtube-squared"
        /></a>
        <a href="" target="_blank"
          ><img
            width="25"
            height="25"
            src="https://img.icons8.com/offices/100/dribbble.png"
            alt="dribbble"
        /></a>
      </div>
    </div> -->
    </div>
    <div class="portfolio-footer-bottom">
      <div class="portfolio-footer-bottom-sec">
        <p>Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></p>
      </div>
      <div class="portfolio-footer-bottom-sec">
        <p>Designed & Created by portfolio</p>
      </div>
      <div class="portfolio-footer-bottom-sec">
        <p>&copy; 2024 portfolio</p>
      </div>
    </div>
  </div>
</div>
