<!-- <div class="timeline-container">
  <header class="timeline-header">Education</header>
  <div class="timeline">
    <ul class="timeline-list">

      <li class="timeline-item">
        <span class="timeline-dot"></span>
        <h4 class="timeline-item-title">
          Indira Gandhi National Open University
        </h4>
        <span class="timeline-year">2024</span>
        <p class="timeline-text">
          There I learnt a wide range of topics that are essential to
          understanding both the theory and practical aspects of computing. This
          involves programming fundamentals, computer architecture, operating
          systems, databases, software engineering, problem-solving,
          collaboration, and communication soft skills.
        </p>
      </li>

      <li class="timeline-item">
        <span class="timeline-dot"></span>
        <h4 class="timeline-item-title">12th</h4>
        <span class="timeline-year">2020</span>
        <p class="timeline-text">
          In 12th grade (Commerce stream with Maths) under the CBSE curriculum,
          I deepened my understanding of subjects like Accountancy, Economics,
          Business Studies, Mathematics, and English. I enhanced my analytical,
          problem-solving, and quantitative skills, preparing me for higher
          education and a career in business or related fields.
        </p>
      </li>

      <li class="timeline-item">
        <span class="timeline-dot"></span>
        <h4 class="timeline-item-title">10th</h4>
        <span class="timeline-year">2018</span>
        <p class="timeline-text">
          In 10th grade under the CBSE curriculum, I developed a strong
          foundation in subjects like Mathematics, Science, English, and Social
          Science, enhancing my analytical, problem-solving, and communication
          skills.
        </p>
      </li>
    </ul>
  </div>
</div> -->

<div class="resume" data-page="resume">
  <!-- <header>
    <h2 class="h2 article-title">Resume</h2>
  </header> -->
  <section class="timeline">
    <div class="title-wrapper">
      <h2>Education</h2>
    </div>

    <ul class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">
          University of Engineering & Management, Kolkata
        </h4>
        <span>2022</span>
        <p class="timeline-text">
          There I learnt a wide range of topics that are essential to
          understanding both the theory and practical aspects of computing. This
          involves programming fundamentals, computer architecture, operating
          systems, databases, software engineering, problem solving,
          collaboration and communication soft skills.
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">12th</h4>
        <span>2017</span>
        <p class="timeline-text">
          In 12th grade (Science stream with Biology) under the ISC curriculum,
          I deepened my understanding of subjects like Physics, Mathematics,
          Chemistry, and English. I enhanced my analytical, problem-solving, and
          quantitative skills preparing me for higher education and a career in
          business or related fields.
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">10th</h4>
        <span>2015</span>
        <p class="timeline-text">
          In 10th grade under the ICSE curriculum, I developed a strong
          foundation in subjects like Mathematics, Science, English, and Social
          Science, enhancing my analytical, problem-solving, and communication
          skills. I also learned valuable time-management and critical thinking
          abilities, preparing me for future academic and personal growth.
        </p>
      </li>
    </ul>
  </section>
  <!-- <section class="skill">
      <h3 class="h3 skills-title">My Skills</h3>

      <ul class="skills-list content-card">
          <li class="skills-item">
              <div class="title-wrapper">
                  <h5 class="h5">Web Design (HTML-CSS-JS)</h5>
                  <data value="80">80%</data>
              </div>

              <div class="skills-progress-bg">
                  <div class="skills-progress-fill" style="width: 80%;"></div>
              </div>
          </li>

          <li class="skills-item">
              <div class="title-wrapper">
                  <h5 class="h5">PHP (core,SQL)</h5>
                  <data value="70">70%</data>
              </div>

              <div class="skills-progress-bg">
                  <div class="skills-progress-fill" style="width: 70%;"></div>
              </div>
          </li>

          <li class="skills-item">
              <div class="title-wrapper">
                  <h5 class="h5">Tailwind CSS</h5>
                  <data value="90">90%</data>
              </div>

              <div class="skills-progress-bg">
                  <div class="skills-progress-fill" style="width: 90%;"></div>
              </div>
          </li>

          <li class="skills-item">
              <div class="title-wrapper">
                  <h5 class="h5">React.js</h5>
                  <data value="50">50%</data>
              </div>

              <div class="skills-progress-bg">
                  <div class="skills-progress-fill" style="width: 50%;"></div>
              </div>
          </li>
          <li class="skills-item">
              <div class="title-wrapper">
                  <h5 class="h5">jQuary</h5>
                  <data value="50">50%</data>
              </div>

              <div class="skills-progress-bg">
                  <div class="skills-progress-fill" style="width: 50%;"></div>
              </div>
          </li>
      </ul>
  </section> -->
</div>
