* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width for subtlety */
  height: 8px; /* For horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 4px; /* Rounded corners */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Subtle color for the handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle hover state */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Slightly darker on hover */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
}

a {
  color: #58a6ff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c9d1d9;
}

.secondary-text {
  color: #8b949e;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #161b22;
  transition: background-color 0.3s ease-in-out;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
}

.main-container {
  padding: 150px 40px 40px 40px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 120px 15px 40px 15px; /* Adjust padding for mobile */
  }
  .navbar {
    padding: 10px 15px;
  }
}
