.animate-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.animate-container .about {
  display: flex;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.content {
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
  gap: 20px;
  opacity: 0;
  transform: translateX(120%);
  min-height: 50vh;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  max-width: 70%;
}

.animate-container .content.left {
  transform: translateX(-120%);
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.animate-container .content.right {
  transform: translateX(120%);
  flex-direction: row;
  justify-content: flex-start;
}

.content .image {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 20px;
}

.content p {
  /* flex: 1; */
  font-size: 1em;
  line-height: 1.4;
  word-wrap: break-word;
  text-align: justify;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column !important;
    text-align: center;
    align-items: center;
    /* padding: 15px; */
  }

  .content .image {
    margin-bottom: 15px;
  }

  .content p {
    font-size: 0.85em;
    line-height: 1.2;
    max-width: 90%;
  }
}
