<div class="animate-container">
  <div class="falling-cat"></div>
  <div class="about"><h1 id="typed-text"></h1></div>
  <div
    class="content"
    *ngFor="let item of items; let i = index"
    [class]="i % 2 === 0 ? 'right' : 'left'"
  >
    <div class="image"></div>
    <div class="text-container">
      <p>
        {{ item.text }}&nbsp;
        <ng-container *ngIf="item.link">
          <a [routerLink]="[item.link]">{{ item.path_text }}</a>
        </ng-container>
        <ng-container *ngIf="item.outerLink">
          <a
            [href]="item.outerLink"
            target="_blank"
            rel="noopener noreferrer"
            >{{ item.path_text }}</a
          >
        </ng-container>
      </p>
    </div>
  </div>
  <main>
    <div class="swiper-text">
      <h1>What Others Have Said About Me</h1>
      <hr />
      <p>
        Throughout my career, I’ve had the privilege of working with talented
        teams who have shared their feedback and support.
      </p>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">
          <div class="feedback-card">
            <p>
              You did great work for us and I'm sure you will be able to do the
              same in your career's future. You learn fast and that is something
              invaluable in an industry that's evolving as quickly as ours
            </p>
            <div>
              <h3>- E. Beland</h3>
              <h5>Web Team Lead</h5>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--two">
          <div class="feedback-card">
            <p>
              During Souradeep's time with us, he consistently demonstrated a
              high level of technical expertise, professionalism, and dedication
              to his work. He consistently met or exceeded expectations in areas
              of current projects
            </p>
            <div>
              <h3>- Marie-Eve Bédard</h3>
              <h5>Human Resources Manager</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide swiper-slide--three">
          <div class="feedback-card">
            <p>
              As a fullstack developer, Souradeep was proficient in both
              front-end and back-end technologies
            </p>
            <div>
              <h3>- Olga Cazacioc</h3>
              <h5>Full stack developer</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide swiper-slide--four">
          <div class="feedback-card">
            <p>
              His skills and experience make him a valuable asset to our team
            </p>
            <div>
              <h3>- Ethan Leduc</h3>
              <h5>Full stack developer</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide swiper-slide--five">
          <div class="feedback-card">
            <p>
              Souradeep was a collaborative team member who communicated
              effectively with colleagues and stakeholders. He was able to adapt
              to changing project requirements and deadlines, and consistently
              contributed innovative ideas and solutions
            </p>
            <div>
              <h3>- Samuel Marcoux-HoudeView</h3>
              <h5>Chief Technical Officer at Sinope Technologies</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- <img
      src="https://cdn.pixabay.com/photo/2021/11/04/19/39/jellyfish-6769173_960_720.png"
      alt=""
      class="bg"
    />
    <img
      src="https://cdn.pixabay.com/photo/2012/04/13/13/57/scallop-32506_960_720.png"
      alt=""
      class="bg2"
    /> -->
  </main>
</div>
